[submodule "bundle/LustyExplorer"]
	path = bundle/LustyExplorer
	url = git://github.com/vim-scripts/LustyExplorer.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/vim-taglist"]
	path = bundle/vim-taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-togglemouse"]
	path = bundle/vim-togglemouse
	url = git://github.com/nvie/vim-togglemouse.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/LustyJuggler"]
	path = bundle/LustyJuggler
	url = git://github.com/vim-scripts/LustyJuggler.git
