[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-taglist"]
	path = bundle/vim-taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-togglemouse"]
	path = bundle/vim-togglemouse
	url = git://github.com/nvie/vim-togglemouse.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = git://github.com/xolox/vim-session.git
[submodule "bundle/Lusty-Explorer"]
	path = bundle/Lusty-Explorer
	url = git://github.com/vim-scripts/LustyExplorer.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/fontzoom"]
	path = bundle/fontzoom
	url = git://github.com/thinca/vim-fontzoom.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = git://github.com/kogakure/vim-sparkup.git
